:root {
  --clr-primary: blue;
}

html {
  direction: rtl;
  font-size: 2rem;
}

.mark-strong {
  font-weight: bolder;
}

.bg-color-primary {
  background-color: var(--clr-primary);
}

.color-white {
  color: white;
}

.sec-1 {
  text-align: center;
}

.sec-1 h1 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.sec-1 h2 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.sec-1 h3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.sec-1 h4 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.sec-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-2 .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sec-2 img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sec-3 {
  text-align: center;
}

.sec-3 .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec-3 .images img {
  width: 33.3%;
}

.sec-3 h2 {
  text-align: center;
}

.sec-3 .text {
  background-color: rgba(34, 34, 34, 0.5);
  border-radius: 15px;
}

.sec-4 .sec-4-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-4 .sec-4-images .img-wraper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-4 .sec-4-images .img-wraper img {
  width: 90%;
  height: 90%;
}

.sec-4 .sec-4-images .img-wraper img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.sec-5 {
  text-align: center;
  background-color: rgba(167, 167, 167, 0.5);
  -webkit-box-shadow: 5px -5px 5px 1px #000000, -5px -5px 5px 1px #000000, 5px 5px 5px 1px #000000, -5px -5px 5px 1px #000000;
          box-shadow: 5px -5px 5px 1px #000000, -5px -5px 5px 1px #000000, 5px 5px 5px 1px #000000, -5px -5px 5px 1px #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.sec-5 .bg-wraper {
  background-color: rgba(78, 78, 78, 0.5);
  border-radius: 25px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
}

.cta-form input:not([type="checkbox"]) {
  font-size: 1.2rem;
  width: 98%;
  margin-bottom: 5px;
}

.cta-form input:not([type="checkbox"])::-webkit-input-placeholder {
  text-align: center;
}

.cta-form input:not([type="checkbox"]):-ms-input-placeholder {
  text-align: center;
}

.cta-form input:not([type="checkbox"])::-ms-input-placeholder {
  text-align: center;
}

.cta-form input:not([type="checkbox"])::placeholder {
  text-align: center;
}

.cta-form .checkbox-title {
  font-size: 0.5rem;
}

.cta-form .sub-btn {
  font-size: 1.2rem;
  background: #57ff65;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 2px #eee;
          box-shadow: 2px 2px 2px #eee;
  text-shadow: none;
}

.cta-form .sub-btn:hover {
  background: #27ff39;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 3px #eee;
          box-shadow: 3px 3px 3px #eee;
  text-shadow: none;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.swiper-slide img {
  width: 14vw;
}

.showcase {
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.showcase .window {
  float: left;
}

.showcase .slider {
  display: block;
  list-style: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.showcase .slider .item {
  display: block;
  float: left;
  position: relative;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.showcase .slider .item img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: 0 linear left;
  transition: 0 linear left;
  opacity: 0.65;
}

.showcase .slider .item img:hover {
  opacity: 1.0;
}
/*# sourceMappingURL=style.css.map */