

:root {
    --clr-primary: blue;
    //--clr-bg-img: 
    --green-layout: hsl(120, 55%, 68%);
    --clr-primary-grey: hsl(0, 0%, 90%);
}


@mixin bg-gradient {
    background-color: #edce6a;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZjlmMjk1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGFhM2UiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjI1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y5ZjI5NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNSIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGFhM2UiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjc1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y5ZjI5NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, color-stop(0, rgb(249, 242, 149)), color-stop(0.25, rgb(224, 170, 62)), color-stop(0.5, rgb(249, 242, 149)), color-stop(0.75, rgb(224, 170, 62)), color-stop(1, rgb(249, 242, 149)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(right, rgb(249, 242, 149) 0%, rgb(224, 170, 62) 25%, rgb(249, 242, 149) 50%, rgb(224, 170, 62) 75%, rgb(249, 242, 149) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to left, rgb(249, 242, 149) 0%, rgb(224, 170, 62) 25%, rgb(249, 242, 149) 50%, rgb(224, 170, 62) 75%, rgb(249, 242, 149) 100%);
    background-image: -ms-repeating-linear-gradient(right, rgb(249, 242, 149) 0%, rgb(224, 170, 62) 25%, rgb(249, 242, 149) 50%, rgb(224, 170, 62) 75%, rgb(249, 242, 149) 100%);

    /* IE8- CSS hack */
    @media \0screen\,screen\9 {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff9f295", endColorstr="#fff9f295", GradientType=1);
        
    }
}

html {
    direction: rtl;
    font-size: 2rem;
}
body {
    background-color: var(--clr-primary-grey);
}
.mark-strong {
    font-weight: bolder;
}

.bg-color-primary {
    //background-color: var(--clr-primary);
    @include bg-gradient();
}

.color-white {
    color: white;
}



.scratchpad{
    width: 400px;
    height: 200px;
    border: solid 1px;
    margin:auto;
    
    canvas {
        //width: 100%;
        top:0px;
        left:00%;
    }
  }

  @media (max-width: 500px) {
    .scratchpad {
      width: 65%;
    }

  }

.sec-1 {
    text-align: center;
    h1 {
        margin-block-start: 0;
        margin-block-end: 0;
    }
    h2 {
        margin-block-start: 0;
        margin-block-end: 0;
    }
    h3 {
        margin-block-start: 0;
        margin-block-end: 0;
    }
    h4 {
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .logo {
        img {
            max-width: 100vw;
            max-height: 200px;
        }
    }
}

.sec-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .content {
        flex: 1;
        display: flex;
        //color: white;
        flex-direction: column;
        //justify-content: flex-start;
        align-self: stretch;
        align-items: center;
        text-align: center;
        img{
            max-height: 75px;
        }
    }

    .first-form {
        flex:1;

        padding-top: 20px;
        padding-left: 15px;
        padding-bottom: 20px;
        .cta-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.sec-3 {
    text-align: center;
    .popup {
        background-color: var(--green-layout);
        border-radius: 15px;
        margin:15px;
        padding:15px;
    }
    .images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        img {
            width: 33.3%;
        }
    }

    h2 {
        text-align: center;
    }
    .text {
        background-color: rgba(34, 34, 34, 0.5);
        border-radius: 15px;;
    }
    
}

.sec-4 {
    .sec-4-images {
        display: flex;
        .img-wraper{
            flex: 1;
            justify-content: center;
            align-items: center;
            display: flex;
            img {
//                flex:1;
                width: 90%;
                height: 90%;
                &:hover {
                    transform: translateY(-10px);
                }
            }
        }
    }
}

.sec-5 {
    text-align: center;
    /*
    background-color: rgba(167, 167, 167, 0.5);
    box-shadow: 5px -5px 5px 1px #000000,
                -5px -5px 5px 1px #000000,
                5px 5px 5px 1px #000000,
                -5px -5px 5px 1px #000000;
                */
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;

    .bg-wraper {
        /*
        background-color: rgba(78, 78, 78, 0.5);
        border-radius: 25px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
        */
        
    }
    .cta {
    }
}


.cta-form {
    input:not([type="checkbox"]) {
        font-size: 1.2rem;
        width: 98%;
        margin-bottom: 5px;

        &::placeholder {
            text-align: center;
        }
    }
    .checkbox-title {
        font-size: 0.5rem;
    }

    .sub-btn {
        font-size: 1.2rem;
        background: #57ff65;

        color: #fff;

        border: 1px solid #eee;

        border-radius: 20px;

        box-shadow: 2px 2px 2px #eee;

        text-shadow: none;

        &:hover {
            background: #27ff39;

            color: #fff;

            border: 1px solid #eee;

            border-radius: 20px;

            box-shadow: 3px 3px 3px #eee;

            text-shadow: none;
        }
    }
}

.swiper-slide {
    display:flex;
    //justify-content: center;
    align-items: center;
    margin: auto;
    img {
        width: 14vw;
        
    }
}





.showcase {
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  .window {
    float: left;
  }

  .slider {
    display: block;
    list-style: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    .item {
      display: block;
      float: left;
      position: relative;
      width: 200px;
      height: 200px;
      line-height: 200px;
      text-align: center;

      img {
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
        -webkit-transition: 0 linear left;
        -moz-transition: 0 linear left;
        transition: 0 linear left;
        opacity: 0.65;

        &:hover {
        opacity: 1.0;
        }
      }
    }
  }

}