:root {
  --clr-primary: blue;
  --green-layout: hsl(120, 55%, 68%);
  --clr-primary-grey: hsl(0, 0%, 90%);
}

* {
  font-family: 'Rubik';
  font-style: normal;
}

html {
  font-size: 2rem;
}

body {
  background-color: var(--clr-primary-grey);
}

.mark-strong {
  font-weight: bolder;
}

.mark-bigger {
  font-size: larger;
}

.bg-color-primary {
  background-color: #edce6a;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZjlmMjk1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGFhM2UiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjI1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y5ZjI5NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNSIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGFhM2UiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjc1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y5ZjI5NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(right, #f9f295 0%, #e0aa3e 25%, #f9f295 50%, #e0aa3e 75%, #f9f295 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to left, #f9f295 0%, #e0aa3e 25%, #f9f295 50%, #e0aa3e 75%, #f9f295 100%);
  background-image: -ms-repeating-linear-gradient(right, #f9f295 0%, #e0aa3e 25%, #f9f295 50%, #e0aa3e 75%, #f9f295 100%);
  /* IE8- CSS hack */
}

@media \0screen\,screen\9 {
  .bg-color-primary {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff9f295", endColorstr="#fff9f295", GradientType=1);
  }
}

.color-white {
  color: white;
}

.cta-form input:not([type="checkbox"]) {
  font-size: 0.7rem;
  width: 80%;
  margin-bottom: 5px;
}

.cta-form input:not([type="checkbox"])::-webkit-input-placeholder {
  text-align: center;
}

.cta-form input:not([type="checkbox"]):-ms-input-placeholder {
  text-align: center;
}

.cta-form input:not([type="checkbox"])::-ms-input-placeholder {
  text-align: center;
}

.cta-form input:not([type="checkbox"])::placeholder {
  text-align: center;
}

.cta-form .checkbox-title {
  font-size: 0.5rem;
}

.cta-form .sub-btn {
  font-size: 0.6rem;
  background: #45a348;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 2px #eee;
  box-shadow: 2px 2px 2px #eee;
  text-shadow: none;
  padding: 20PX;
  margin-bottom: 10px;
}

.cta-form .sub-btn:hover {
  background: #7eef88;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 3px #eee;
          box-shadow: 3px 3px 3px #eee;
  text-shadow: none;
}

/* Disables the selection */
.disableselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge*/
  user-select: none;
  /* Non-prefixed version, currently 
                                    not supported by any browser */
}

.scratchpad {
  width: 200px;
  height: 70px;
  border: solid 1px;
  margin: auto;
  border-radius: 25px;
}

.scratchpad > * {
  border-radius: 25px;
}

.scratchpad canvas {
  top: 0px;
  left: 00%;
}

@media (max-width: 500px) {
  .scratchpad {
    width: 65%;
  }
}

.sec-1 {
  direction: rtl;
  text-align: center;
}

.sec-1 h1 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.sec-1 h2 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.sec-1 h3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.sec-1 h4 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.sec-1 .logo img {
  max-width: 100vw;
  max-height: 50px;
}

.sec-1 .sec-1-tema-image img {
  width: 100%;
  height: 300px;
}

.sec-2 {
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  border-radius: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sec-2 .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sec-2 .content img {
  max-height: 75px;
}

.sec-2 .content ul {
  font-size: 1.2rem;
}

.sec-2 .content .part-4 {
  font-size: 1.2rem;
}

.sec-2 .first-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*
        .cta-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        */
}

.sec-2 .first-form .logo-wraper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 70px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-2 .first-form .logo-wraper .logo {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  height: 75px;
}

.sec-2 .first-form .picture-wraper img {
  max-width: 450px;
}

.sec-3 {
  text-align: center;
}

.sec-3 .workers-title {
  direction: rtl;
  margin-top: 0px;
}

.sec-3 .slider-wraper .slider-title {
  font-size: 3rem;
}

.sec-3 .popup {
  background-color: var(--green-layout);
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

.sec-3 .popup .first {
  font-size: larger;
}

.sec-3 .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec-3 .images img {
  width: 33.3%;
}

.sec-3 h2 {
  text-align: center;
}

.sec-3 .text {
  background-color: rgba(34, 34, 34, 0.5);
  border-radius: 15px;
}

.sec-3 .cta-form .form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sec-3 .cta-form .form-fields * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 30px;
}

.sec-4 .sec-4-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-4 .sec-4-images > * + * {
  margin-left: 10px;
}

.sec-4 .sec-4-images .img-wraper {
  position: relative;
  margin: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.sec-4 .sec-4-images .img-wraper img {
  width: 100%;
  height: 100%;
}

.sec-4 .sec-4-images .img-wraper .image-title {
  display: block;
  bottom: 0;
  color: black;
  font-weight: bold;
  width: 100%;
  background-color: #aaa;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.sec-4 .sec-4-images .img-wraper:hover img, .sec-4 .sec-4-images .img-wraper:focus img {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.sec-4 .sec-4-images .img-wraper:hover .image-title, .sec-4 .sec-4-images .img-wraper:focus .image-title {
  background-color: #edce6a;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZjlmMjk1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGFhM2UiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjI1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y5ZjI5NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNSIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGFhM2UiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjc1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y5ZjI5NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(right, #f9f295 0%, #e0aa3e 25%, #f9f295 50%, #e0aa3e 75%, #f9f295 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to left, #f9f295 0%, #e0aa3e 25%, #f9f295 50%, #e0aa3e 75%, #f9f295 100%);
  background-image: -ms-repeating-linear-gradient(right, #f9f295 0%, #e0aa3e 25%, #f9f295 50%, #e0aa3e 75%, #f9f295 100%);
  /* IE8- CSS hack */
  z-index: 1;
}

@media \0screen\,screen\9 {
  .sec-4 .sec-4-images .img-wraper:hover .image-title, .sec-4 .sec-4-images .img-wraper:focus .image-title {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff9f295", endColorstr="#fff9f295", GradientType=1);
  }
}

.sec-5 {
  direction: rtl;
  text-align: center;
  width: 90%;
  margin: auto;
  border-radius: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /*
    background-color: rgba(167, 167, 167, 0.5);
    box-shadow: 5px -5px 5px 1px #000000,
                -5px -5px 5px 1px #000000,
                5px 5px 5px 1px #000000,
                -5px -5px 5px 1px #000000;
                */
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.sec-5 .cta-form .form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 30px;
}

.sec-5 .cta-form .form-fields * {
  font-size: 0.7rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
}

.sec-5 .cta-form .form-fields .sub-btn {
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 0px;
}

.sec-5 .bg-wraper {
  /*
        background-color: rgba(78, 78, 78, 0.5);
        border-radius: 25px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
        */
}

#light-slider li img {
  max-width: 100%;
}

#footer {
  background: #343b40;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}

#footer a {
  color: #60a142;
}
/*# sourceMappingURL=style.css.map */